/* Header styling */
.Header {
    background-color: #4285F4;
    text-align: justify;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
}

/* Navigation link styling */
.nav-link {
    color: white;
    margin: 5px 25px;
}

/* Full-width text content styling */
.home-content {
    width: 75%;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    margin: 30px;
    /* Adds space between text content and sign-in cards */
}

.home-content h1 {
    font-size: 32px;
    color: #333;
}

.card {
    display: flex;
}

/* Container for the sign-in cards */
.card-container {
    display: flex;
    flex-direction: column;
    /* Place sign-in cards side by side */
    justify-content: center;
    /* Center the cards */
    gap: 50px;
    /* Space between the sign-in cards */
    margin-top: 20px;
    margin-bottom: 40px;
    /* Space below the sign-in cards */
}

/* Circular card styling */
.card-sign {
    width: 250px;
    /* Circular width */
    height: 250px;
    /* Circular height */
    border-radius: 50%;
    /* Circular shape */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Image styling within circular cards */
.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: contain;
    /* margin-bottom: 15px; */
}

/* Card title styling */
.card-title {
    color: #4285F4;
    font-size: 18px;
    margin: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        /* Stack the sign-in cards vertically on smaller screens */
        align-items: center;
    }

    .home-content h1 {
        font-size: 28px;
        /* Adjust font size for smaller screens */
    }
}

.body-img {
    height: 200px;
    width: 300px;
}

.custom-bg {
    background-color: #e3f2fd !important;
}

.text {
    padding: 50px;
}

.navbar {
    padding: 20px;
}

.panel {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Horizontal offset, vertical offset, blur radius, and shadow color */
    margin: 30px;
    padding: 10px;
    height: 350px;
    width: 400px;
    display: flex;

}

.panel-div {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    align-self: center;
}

.container {
    background: #4285F4;
    color: white;
}

.footer {
    max-height: 300px;
}